body {
  background-color: #253357;
  color: #ddd !important;
}

h1,h2,h3,h4,h5,h6,p,a,li {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

li,p {
  color: #ccc;
}

h1,h2,h3,h4,h5,h6,.meta, .sub-heading {
  font-weight: 100;
}

small,a {
  color: #bbb !important;
}

a { 
  border-bottom: 1px solid #bbb;
}

a:hover, #footer a:hover {
  text-decoration: none;
  color: #fff !important;
  border-color: #fff !important;
}

ul {
  list-style: outside !important;
  padding: 0;
}

.item .meta {
  font-size: 14px !important;
}

h2 {
  margin: 30px 0 0 0 !important;
}

#skills h2 { margin-bottom: 20px !important; }

h3 {
  margin-bottom: 6px;
}

p.sub-heading {
  font-size: 18px !important;
  margin-bottom: 4px;
}

ul.list-inline-custom {
  list-style: none !important;
}

ul.list-inline-custom:before,
ul.list-inline-custom:after {
  content:"";
  display:table;
}
ul.list-inline-custom:after {
  clear:both;
}

ul.list-inline-custom li {
  display: inline-block;
  background-color: rgba(0,0,0,.2);
  border-radius: 3px;
  padding: 2px 5px;
  float: left;
  margin: 0 4px 4px 0;
}

#hero {
  text-align: left;
}

span {
  margin-right: 10px;
  font-size: 90%;
}

.download {
  margin-top: 20px;
  text-align: right;
}

.download a.btn {
  color: #333 !important;
}

#footer {
  margin-top: 25px;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0.8;
}

#footer a { color: #ddd; }

#footer-wrapper {
  background-color: rgba(0,0,0,.2); 
}

@media print, (max-width:767px) {
  ul.list-inline-custom li {
    padding: 0;
    background-color: transparent;
    margin-top: 0;
  }
  
  ul { padding-left: 15px; }
  ul.list-inline-custom { padding-left: 0; }
  
  /* for enumerating skills using commas and 'and' */
  ul.list-inline-custom li:after { content: ", "; }
  ul.list-inline-custom li:last-child:before { content: "and "; }
  ul.list-inline-custom li:last-child:after { content: ""; }
  ul.list-inline-custom li:first-child:before { content: "" !important; }
  
  .download { 
    margin-top: inherit; 
    margin-bottom: 10px;
  }
}

@media print {
  a { color: inherit !important; }
  #footer { display: none;}
  .download { display: none; }
}
