body {
  background-color: #fff;
  color: #333 !important;
  font-family: 'Segoe UI', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  line-height: 1.5;
  margin-top: 1em;
}

h1,h2,h3,h4,h5,h6,p,a,li {
  font-family: 'Segoe UI', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

li,p {
  font-size: 16px;
}

p {
  margin-bottom: 1em;
}

h1,h2,h3,h4,h5,h6,.meta, .sub-heading {
  font-weight: 400;
}

h2 {
  margin: 30px 0 0 0 !important;
}

small,a {
  color: #333 !important;
}

a { 
  border-bottom: 1px solid #999;
}

a:hover, #footer a:hover {
  text-decoration: none;
  color: #000 !important;
  border-color: #666;
}

ul {
  list-style: outside !important;
  padding: 0 1em;
  margin-bottom: 1em;
}

li span {
  position: relative;
  font-size: inherit;
}

.item {
  margin-bottom: 3em;
}

#hero {
  text-align: left;
}

.download {
  margin-top: 20px;
  text-align: right;
}

.download a.btn {
  color: #333 !important;
}

#footer {
}

@media print, (max-width:767px) {
  h1 { font-size: 30px; }
  h2 { font-size: 24px; }
  h3 { font-size: 18px !important; }
  li, p, #footer, .item p.meta { font-size: 14px; }

  #name { text-align: center; }
  
  ul { padding-left: 15px; }
  #footer {
	text-align: center
  }
  
  .download { 
    margin-top: inherit; 
    margin-bottom: 10px;
  }
}

@media print {
  body {
	  margin: 0 30px;
  }
	
  h2 { font-size: 18px; }
  h3 { font-size: 14px !important; margin-bottom: 5px !important; }
  li, p { font-size: 12px; }
  .item p.meta { font-size: 12px; }
  
  a { color: inherit !important; }
  a[href]:after {
    content: none !important;
  }
  #footer { display: none;}
  .download { display: none; }
}
